<ion-header>
  <ion-toolbar>
    <ion-title>Expense Detail</ion-title>
    <ion-buttons >
      <ion-button routerLink="/list" routerDirection="back">
        Back
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class='exp'>
  <!--<h4>{{ expense.type }}: {{ expense.user }}</h4>-->
  <ion-item color='red'>Expense: {{ expense.cost }}</ion-item>
  <ion-item color='yellowish'>Description: {{ expense.description }}</ion-item>
  <ion-item color ='purple'>Type: {{ expense.type }}</ion-item>
  <ion-item color ='medium'>Date: {{formatDate(expense.date)}}</ion-item>
</ion-content>