<ion-header>
  <ion-toolbar color='dark'>
    <ion-title  >New Expense</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content class="content-background" no-bounce>
  <form (submit)="addExpense()" class="form-div">
    <ion-list>
      <ion-item>
        <ion-label color='light' position="stacked">Type</ion-label>
        <ion-select style="color: white;" [(ngModel)]="newExpense.type" interface="action-sheet" name="type"placeholder='Select type of expense' >
          <ion-select-option value="meal">Meal</ion-select-option>
          <ion-select-option value="lodging">Lodging</ion-select-option>
          <ion-select-option value="travel">Travel</ion-select-option>
          <ion-select-option value="parking">Parking</ion-select-option>
          <ion-select-option value="misc">Misc</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label color='light'position="stacked">Description</ion-label>
        <ion-input color='light'type="text" [(ngModel)]="newExpense.description" name="description"placeholder='Enter Description here'> </ion-input>
      </ion-item>

      <ion-item>
        <ion-label color='light'position="stacked">Cost</ion-label>
        <ion-input color='light'type="number" [(ngModel)]="newExpense.cost" name="cost" placeholder='Enter Expense here'> </ion-input>
      </ion-item>

      <ion-item>
          <ion-label color='light'position="floating">Date</ion-label>
          <ion-datetime style="color: white;" displayFormat="DD/MM/YYYY" min="1994-03-14" max="2060-12-09" [(ngModel)]="newExpense.date"name="date"></ion-datetime>
        </ion-item>

      <ion-button expand="full" type="submit" [disabled]="inputCheck()">Submit</ion-button>
    </ion-list>

  </form>
  
      <ion-button expand = 'block' fill='clear' routerLink="/list" routerDirection="back">
        <ion-icon name='arrow-back'></ion-icon>
      </ion-button>
    

</ion-content>